<div class="card shadow my-auto mt-5">
    <h5 class="card-header">Preview</h5>
    <div class="card-body">
        <div class="row">
        <div class="col-8">
            <h3><strong>{{this.article.ArTitle}}</strong></h3>

            <img src="/imgs/articles/{{this.article.Photo}}" style="width:600px ">
            <div class="text-center mt-4">
                "{{this.article.Content}}" 
            </div>
            <p class="text-right"> <strong>Author:</strong> {{this.article.UserName}}</p>
            <p class="text-right"> <strong>Update Day:</strong> {{this.article.PostedDay}}</p>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/imgs/articles/17853_kham_benh_nhan.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        </div>
</div>
    </div>
</div>